<header>
  <section class="header">
    <h1>Laura J Trevisan Mosher</h1>
    <span>Senior Software Engineer // Full-Stack Developer</span>
  </section>
  <section>
    <nav>
      <a href="{{ site.url }}">about</a>
      |
      <a href="{{ site.url }}/blog">blogs</a>
      |
      <a href="{{ site.url }}/talks">talks</a>
      |
      <a href="{{ site.url }}/public/lauramosher.pdf" target="_blank">resume</a>
      |
      <a href="https://twitter.com/LauraTrev" target="_blank">twitter</a>
    </nav>
  </section>
</header>
