<head>
  <title>
    {% if page.title %}
      {{ page.title }} &mdash;
    {% endif %}
    {{ site.title }}
  </title>
  {% include ga.html %}
  <link rel="stylesheet" media="all" href="{{ site.baseurl }}/stylesheets/main.css">
  <link rel="stylesheet" media="all" href="{{ site.baseurl }}/stylesheets/syntax.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  {% seo %}
  <meta name="keywords" content="Software Development, Software Engineering, Holland, Zeeland, Grand Rapids, Michigan, Ruby, Ruby on Rails, Elixir, Full-Stack, Code, Writer, Laura, Laura Mosher, Laura J Trevisan Mosher">
</head>
