<header>
  <section class="header">
    <h1>Laura J Trevisan Mosher</h1>
    <span>Senior Software Engineer // Full-Stack Developer</span>
  </section>
  <section>
    <nav>
      <span>|</span>
      <a href="{{ site.url }}">About</a>
      <span>|</span>
      <a href="{{ site.url }}/blog">Blog</a>
      <span>|</span>
      <a href="public/lauramosher.pdf" target="_blank">Resume</a>
      <span>|</span>
      <a href="/connect">Connect</a>
      <span>|</span>
    </nav>
  </section>
</header>
