<header>
  <section class="header">
    <h1>Laura J Trevisan Mosher</h1>
    <span>Senior Software Engineer // Full-Stack Developer</span>
  </section>
  <section>
    <nav>
      <a href="{{ site.url }}">About</a>
      <a href="{{ site.url }}/blog">Blog</a>
      <a href="{{ site.url }}/public/lauramosher.pdf" target="_blank">Resume</a>
      <a href="{{ site.url }}/connect">Connect</a>
      <div data-origin="{{ site.url }}" data-page="{{ page.url }}" id="switcher"></div>
    </nav>
  </section>
</header>
