body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 16px;

  background-color: $background;
  color: $text;
}

main {
  max-width: 600px;
  margin: 0 auto 50px auto;
  padding: 1em;
}

header, h1, h2, h3, h4  {
  color: $header;
  font-family: Oswald, Helvetica, Arial, sans-serif;
}

header {
  text-transform: uppercase;
  text-align: center;

  .header {
    margin-bottom: 1rem;

    > h1 {
      margin: 0;
      font-size: 2em;
    }
  }

  nav {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    text-transform: none;
    margin-bottom: 2em;
  }
}

div.about {
  display: flex;
  justify-content: center;
  font-family: Oswald, Helvetica, sans-serif;
}

img.headshot {
  border-radius: 100%;
  width: 250px;
  height: 250px;
  margin: 0 20px;
}

section {
  &.single-space {
    p {
      margin: 0;
    }
  }
  &.blurb {
    font-size: 2rem;
  }
  &.separator {
    border-top: 1px solid #005e7c;
  }
}

a {
  color: $links;
}