/* NAVIGATION */
nav {
  background-color: #183542;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 1.5rem;
}

nav > a {
  width: 100%;
  margin: 0 auto;
  font-size: 0.75em;
  align-self: stretch;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #e9e9e9;
  text-decoration: none;
  padding-top: 5px;
  border-bottom: 5px solid transparent;
}

nav > a:hover {
  border-color: #ed6200;
  color: #ed6200;
}


@media only screen and (max-width: 880px) {
  nav {
    flex-direction: column;
    align-items: stretch;
    height: inherit;
    padding-top: 0;
    border-bottom: 0;
  }

  nav > a {
    flex-grow: 1;
    align-items: stretch;
    padding: 10px 0;
    border-bottom: 0;
  }

  nav > a:hover {
    color: #e9e9e9;
    background-color: #ed6200;
  }
}

