$lightgray: #ececec;
$medgray: #aaa;

.post {
  .post--title {
    margin-bottom: 0;
  }

  .post--meta {
    color: $medgray;
    margin-bottom: 1em;
  }

  a {
    text-transform: none;
  }
}

.actions {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}
