$medgray: #aaa;

.blog-title, .post-title {
  margin-bottom: 0;
}

.post {
  font-family: Roboto, Helvetica, Arial sans-serif;

  &-header {
    display: block;
    text-align: left;

    .post-meta {
      margin: 0;
    }
  }
  .post--title {
    font-family: Oswald, Helvetica, Arial, sans-serif;
    margin-bottom: 0;
  }

  .post--meta {
    font-size: 0.85rem;
    margin-bottom: 1em;
  }

  .post-content {
    line-height: 1.5;
  }

  a {
    text-transform: none;
  }
}

.actions {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

.selected {
  color: darken($links, 15%);
}
