---
---

@import url('https://fonts.googleapis.com/css?family=Oswald|Source+Code+Pro|Source+Sans+Pro');

$lightgray: #ececec;
$medgray: #aaa;
$medblue: #3d85c6;
$darkblue: #183542;

body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-width: calc(200px + 2em);
}

main {
  padding: 0.5em;

  h1.page-title {
    border-bottom: 1px solid $lightgray;
    padding-bottom: 0.5em;
  }
}

a {
  color: $medblue;
  text-decoration: none;
  text-transform: uppercase;
}

article {
  margin-bottom: 1em;

  .post {
    &--title {
      margin-bottom: 0.5em;
    }

    &--meta {
      color: $medgray;
      display: block;
      font-size: 0.55em;
      font-weight: lighter;
    }
  }
}

aside[role=sidebar] {
  margin-top: 1em;
  border-top: 2px dotted $lightgray;
  text-align: center;

  img {
    border-radius: 50%;
    padding: 1em;
    display: block;
    margin: auto;
    width: 200px;
  }

  nav {
    margin-top: 1em;
    a {
      display: block;
      margin: 0.25em;
    }
  }
}

@media all and (min-width: 820px) {
  a {
    color: $medblue;
    text-decoration: none;
    text-transform: uppercase;
  }

  body {
    background-color: $lightgray;
    margin: 1em;
    display: grid;
    grid-template-columns: 250px auto;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
  }

  aside[role=sidebar] {
    margin: 0;
    align-self: start;
    background-color: white;
    border: 1px solid darken($lightgray, 10%);
    padding: 1em;
    grid-column: 1;
    grid-row: 1;
    text-align: justify;

    img.profile {
      padding: 0;
      width: calc(250px - 2em);
    }

    h3 {
      text-align: center;
    }
  }

  main {
    align-self: start;
    background-color: white;
    border: 1px solid darken($lightgray, 10%);
    padding: 1em;
    grid-column: 2;

    article {
      margin-bottom: 2em;
    }
  }
}

@import "post"
