<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <title>
      {% if page.title %}
        {{ page.title }} &mdash;
      {% endif %}
      {{ site.title }}
    </title>
    <link rel="stylesheet" media="all" href="{{ site.baseurl }}/stylesheets/blog.css">
    <link rel="stylesheet" media="all" href="{{ site.baseurl }}/stylesheets/syntax.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    {% seo %}
    {% include ga.html %}
    <meta name="keywords" content="Software Development, Software Engineering, Holland, Zeeland, Grand Rapids, Michigan, Ruby, Ruby on Rails, Elixir, Full-Stack, Code, Writer, Laura, Laura Mosher, Laura J Trevisan Mosher">
  </head>
  <body>
    <main>
      {{ content }}
    </main>
    <aside role="sidebar">
      <img class="profile" src="{{site.url}}/images/profile.jpg" alt="Laura Mosher" title="Laura Mosher" />
      <h3>Laura J Trevisan Mosher</h3>
      Laura is a full-stack senior software engineer with a passion for clean code and oxford commas. She's strives to create a better world through code, kindness, and understanding. When she isn't coding, she enjoys rescuing hedgehogs, making things, and playing games.

      <nav>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/public/lauramosher.pdf" target="_blank">Resume</a>
        <a href="/connect">Connect</a>
      </nav>
    </aside>
  </body>
</html>
