<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <title>
      {% if page.title %}
        {{ page.title }} &mdash;
      {% endif %}
      {{ site.title }}
    </title>
    <link rel="stylesheet" media="all" href="{{ site.baseurl }}/stylesheets/main.css">
    <link rel="stylesheet" media="all" href="{{ site.baseurl }}/stylesheets/syntax.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    {% seo %}
    {% include ga.html %}
    <meta name="keywords" content="Software Development, Software Engineering, Holland, Zeeland, Grand Rapids, Michigan, Ruby, Ruby on Rails, Elixir, Full-Stack, Code, Writer, Laura, Laura Mosher, Laura J Trevisan Mosher">
  </head>
  <body>
    <main>
      {% include header.html %}

      {{ content }}
    </main>
    <footer>
      <a href="https://linkedin.com/in/lauramosher"><img src="{{ site.url }}/images/icons/Linkedin.svg" width=32 /></a>
      <a href="https://github.com/lauramosher"><img src="{{ site.url }}/images/icons/Github.svg" width=32 /></a>
      <a href="https://twitter.com/lauratrev"><img src="{{ site.url }}/images/icons/Twitter.svg" width=32 /></a>
    </footer>
  </body>
</html>
