<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <main>
      {% include header.html %}

      {{ content }}
    </main>

    <footer>
      <a href="https://linkedin.com/in/lauramosher"><img src="{{ site.url }}/images/icons/Linkedin.svg" width=32 /></a>
      <a href="https://github.com/lauramosher"><img src="{{ site.url }}/images/icons/Github.svg" width=32 /></a>
      <a href="https://twitter.com/lauratrev"><img src="{{ site.url }}/images/icons/Twitter.svg" width=32 /></a>
    </footer>
  </body>
  {% include dark.html %}
</html>
