@import url('https://fonts.googleapis.com/css?family=Oswald|Source+Code+Pro');

body {
  background-color: #183542;
  font-family: "Source Code Pro", Helvetica, Arial, sans-serif;
  margin: 0;
  line-height: 18px;
  font-size: 16px;
  text-align: justify;
}

header, h1, h2, h3, h4, h5, h6 {
  color: #3d85c6;
  font-family: Oswald, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
}

h2 {
  margin-top: 2em;
  font-size: 1.5em;
}

h3 {
  margin-top: 1.5em;
}

main {
  background: #fff;
  max-width: 800px;
  margin: 50px auto;
  padding: 0 15px 15px 15px;
}

/* HEADER */
header {
  margin-top: 200px;
  text-align: center;
}

.header {
  height: 75px;
  display: block;
  padding-top: 175px;
}

.avatar {
  height: 150px;
  width: 300px;
  margin: -130px 0 0 250px;
  overflow: visible;
  position: absolute;
}

.profile {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid #fff;
}

/* NAVIGATION */
nav {
  background-color: #183542;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -15px;
  height: 50px;
  font-size: 1.5rem;
}

nav > a {
  width: 100%;
  margin: 0 auto;
  font-size: 0.75em;
  align-self: stretch;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #e9e9e9;
  text-decoration: none;
}

nav > a:hover {
  background-color: #3d85c6;
}

/* SKILLS */
.skills {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills > div {
  margin-bottom: 1em;
  min-width: 19%;
  padding-right: 0.5em;
}

@media only screen and (max-width: 480px) {
  body {
    background: #ffffff;
  }

  main {
    background: #ffffff;
    width: inherit;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  header {
    text-align: center;
    margin-top: 0;
    height: inherit;
  }

  .header {
    height: inherit;
    display: block;
    padding: 0;
  }

  .avatar {
    width: 100%;
    height: inherit;
    margin: 0 auto;
    display: block;
    position: initial;
  }

  .profile {
    width: inherit;
    height: inherit;
    border: 0;
    border-radius: 0;
  }

  nav {
    flex-direction: column;
    height: inherit;
    margin: 0;
  }

  nav > a {
    width: inherit;
    height: 20px;
    padding: 10px;
  }
}
